body{
	background-color:rgb(71, 80, 99);
	color:rgb(255, 165, 207);
	font-family:arial;
}

#commentSpace{
  margin-top:7%;
}

#songprod{
	margin-left:10%;
	font-size:30px;
}
h3{
	margin-left:20%;
	margin-right:20%;
	margin-top:25%;
}

#login{
	text-align:right;
	margin-right:10%;
}
#boxsize{
	width:150px;
	height:80px;
	margin-left:20%;
	margin-right:20%;
}

#commentBox{
  width:55%;
  height:25%;
  position: absolute;
  bottom:2%;
  right:4.5%;
}

#commentBox .comment{
  position: relative;
  left:5%;
  width:90%;
  height:50%;
  border-bottom:1px solid white;
  overflow:visible;
}

#commentBox .comment .author{
  color:white;
  font-size:20px;
}

#commentBox .comment .comment{
  font-size:18px;
}




div{
	overflow:scroll;
}
#a{
	border:2px solid;
	text-align: center;
	position: absolute;
	width:20%;
	height:45%;
	top:25%;
	left:9%;


}
#b{
	border:2px solid;
	text-align:center;
	position:absolute;
	width:20%;
	height:45%;
	top:25%;
	left:31%;

}
#c{
	border:2px solid;
	text-align: center;
	position: absolute;
	width:20%;
	height:45%;
	top:25%;
	left:53%;
}
#d{
	border:2px solid;
	text-align: center;
	position: absolute;
	width:20%;
	height:45%;
	top:25%;
	left:75%;

			}
